html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Prompt', sans-serif;
}

a.nav-link {
	color: black !important;
}

#hero {
	height: 100vh;
	position: relative;
}

#heroMe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#heroTitle {
	color: #2D4866;
	font-size: 35px;
}

.button {
	background-color: #FD7D00;
	border: 1px solid #FD7D00;
	color: white;
	padding: 14px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 20px;
	transition: background-color 0.30s !important;
}

.button:hover {
  background-color: #2D4866;
  color: white;
  border: 1px solid #2D4866;
  
  transform: scale(1.2);
}

.button:hover, .button:visited, .button:active, .button:focus {
	outline: none;
}

#project {
	background-color: #2D4866;
}

#projectTitle {
	color: white;
	font-size: 40px;
}

#projectSub {
	color: #D9D9D9;
}

#aboutTitle {
	color: #2D4866;
	font-size: 40px;
}

#aboutSub {
	width: 70%;
	font-size: 20px;
}

#threeAboutRow {
	border: 1px solid black;
	border-radius: 20px;
}

.fa-desktop, .fa-certificate, .fa-briefcase {
	color: #FD7D00;
}

ul {
	list-style-type: none;
}

.certificates {
	text-decoration: none;
	color: black;
}

.certificates:hover {
	text-decoration: none;
}

#contact {
	color: #2D4866;
}

#contactTitle {
	color: #2D4866;
	font-size: 40px;
}

#preFooter {
	background-color: #2D4866;
}

#logoBelow {
	height: 150px;
	width: 150px;
	margin-bottom: 0px;
}

#interested {
	color: #D9D9D9;
	margin-bottom: 0;
}

#hit {
	font-weight: bold;
	font-size: 80px;
	color: white;
}

.fa-phone, .fa-facebook-messenger, .fa-envelope {
	color: #FD7D00;
}

footer {
	background-color: #2D4866;
	letter-spacing: 1px;
}